body{
    background: #32364b;
    color:#333;
    text-align: center;
    font-family: "Corporate Logo Rounded ver2";
    margin:1em;
    padding: 0;
}
#cabecera
{
    background:#d63333;
    color: white;
    margin:0;
    font-weight: bold;
    font-size: 30px;
    box-shadow:0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    padding:0.5em 0 0.5em 2em;
}
#cabecera #logo
{   border-radius: 50%;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
#container
{
    width:70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    font-style: Courier;
    margin: 0 auto;
}
#cabecera #tagline
{   
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size:0.7em;
}
#container h1
{
    font-size: 20px;
}
#post
{ 
    background: white;
    padding: 1em;
}